* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

$white-header: rgba(255, 255, 255, 0.788);

// Navigation 

.main-nav {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    li, i {
        list-style: none;
        margin-top: 20px;
        color: $white-header;
        text-transform: uppercase;
    } li {
        font-size: 80%;
    }
} 

// Header

header {
    background-image: url('/img/photo-1419242902214-272b3f66ee7a.jpeg');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.header-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    button {
        margin-top: 30px;
        padding: 10px;
        border-radius: 4px;
        background-color: #40b46d;
        color: white;
    } h1 {
        text-transform: uppercase;
        color: $white-header;
    } p {
        color: $white-header;
        font-weight: 300;
    }
} 